
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="row">
        <section class="col-md-8">
            <h1>Pet Paradise Hotel</h1>
        </section>
        @Html.Partial("~/Views/_Pricelist.cshtml")
    </div>
</div>