
@{
    ViewBag.Title = "Index";
}

<h1>Pet Paradise Hotel</h1>
<ul>
    <li>
        @Html.ActionLink("Reservations", "Reservation", "Home")
    </li>
    <li>
        @Html.ActionLink("Invoices", "Invoice", "Home")
    </li>
</ul>

